# Environment
ENV=local
LOG_LEVEL=INFO
APP_NAME=Pumpkit

# Application
BACKEND_URL=http://localhost:8000
BACKEND_PORT=8000
FRONTEND_URL=http://localhost:5173
FRONTEND_PORT=5173
CORS_ORIGINS='["http://localhost:5173","https://pumpkit.io"]'

# Database
POSTGRES_USER=postgres
POSTGRES_PASSWORD=...
POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_DB=postgres
